<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='tags')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-12">관심있는 동아리 주제</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        참여하고 싶은 동아리 주제를 입력해 주세요. 해당 주제의 동아리가 생기면 알림을 받을 수 있습니다. 태그를 입력하고 콤마(,)
                        또는 엔터를 입력하세요.
                    </div>
                    <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascript" th:inline="javascript">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>
<script type="application/javascript">
    $(function () {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                <!-- Post 요청-->
                method: "POST",
                <!-- /settings/tags + add ? remove  호출이 간다-->
                url: "/settings/tags" + url,
                <!-- JSON 형태로 Key,Value 서버쪽으로 보낸다-->
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        <!-- add 매소드-->
        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        <!-- Remove 메소드-->
        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        <!-- <input id="tags" type="text" name="tags" class="tagify-outside" aria-describedby="tagHelp"/> 의 tags input 창-->
        var tagInput = document.querySelector("#tags");

        <!---->
        var tagify = new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            dropdown : {
                <!-- 단일문자 입력후 태그문자 제안-->
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });

        <!-- add , remove 메소드 호출-->
        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // Tagify의 입력 요소에 클래스 추가
        tagify.DOM.input.classList.add('form-control');
        // Tagify의 입력 요소를 요소 외부 (tagify.DOM.scope) 바로 앞에 다시 배치합니다.
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>